<form class="flexcol" style="gap: 0.5rem;">
  <div>
    <label for="targetWord">Target Word</label>
    <input type="text" name="targetWord" value="{{targetWord}}" />
  </div>

  <button type="submit"><i class="far fa-save"></i>Save Changes</button>
</form>