.terminal-container {
  background-color: #2d2d2d;
  color: #08bf08;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.terminal-container .terminal-output {
  white-space: pre;
  margin: 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  flex: 1 1 0;
  border: none;
  background: transparent;
  caret-color: currentColor;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
